{{!-- {{#each obj.data}}
    <h1>{{origin}}</h1>
{{/each}} --}}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
<link rel="stylesheet" href="public/css/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link rel="icon" href="public/img/icone/logo.png" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="public/css/style.css">
<link rel="stylesheet" href="public/css/scroll.css">
<link rel="stylesheet" href="public/css/footer.css">
<title>Available Flight</title>

</head>     

  <body style="background-image: url(https://getwallpapers.com/wallpaper/full/0/2/5/1444409-free-white-background-wallpaper-images-1920x1080.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%">
  {{!-- {{#if notAvilible}}
 
  {{/if}} --}}
 {{#if login }}{{> header login='true' username = userName}}{{else}}{{> header}}{{/if}}
    {{>flight_schedule_form}}
    <div class="my-3">
         <div class="container">
          <h5 class="text-dark">
               <b>There are some Available Flight
               <u>
               <a style="color: #000;" target="_blank" href="https://www.google.com/search?q={{from_city}}&rlz= ">{{from_city}}</a>
               </u>&nbsp;to&nbsp;<u><a style="color: #000;" target="_blank" href="https://www.google.com/search?q={{to_city}}&rlz= ">{{to_city}}</a></u></b>
            </h5>
            <hr>
            <div class="card">
               <div class="card-body">
                <table class="table table-hover">
                     <thead>
                        <tr>
                           <th scope="col"><i class="bi bi-card-heading"></i> Flight No</th>
                           <th scope="col"><i class="bi bi-airplane"></i> Airline</th>
                           <th scope="col"><i class="bi bi-pin-map"></i> Airport</th>
                           <th scope="col"><i class="bi bi-calendar"></i> Departure</th>
                           <th scope="col"><i class="bi bi-hourglass-split"></i> Duration</th>
                           <th scope="col"><i class="bi bi-cash-coin"></i> Price</th>
                           <th scope="col">Operation</th>
                        </tr>
                     </thead>
                     <tbody>
                       
                          {{#each obj.data}}
                            <tr>
                               <form action="/bookflight2" method="post">
                               <th scope="row"><input type="text" name="flight_number" style="display:none;" value="{{flight_number}}">{{flight_number}}</th>
                               <td><input type="text" name="airline" style="display:none;" value="{{airline}}">{{airline}}
                              </td>
                              <td>
                                 <input type="text" name="origin" style="display:none;" value="{{origin_airport}}">
                                 <input type="text" name="destination" style="display:none;" value="{{destination_airport}}">
                                 {{origin_airport}} <i class="bi bi-arrow-left-right"></i> {{destination_airport}}
                              </td>
                              <td><input type="text" name="departure_at" style="display:none;" value="{{departure_at}}">{{departure_at}} </td>
                              <td> 
                                 <input type="text" name="duration" style="display:none;" value="{{duration}}"><i class="bi bi-clock"></i> {{duration}} M
                              </td>
                              <td><input type="text" name="price" style="display:none;" value="{{price}}"><i class="bi bi-currency-rupee"></i>{{price}}/-</td>
                              <td><button type="submit" class="btn btn-success">Book</button></td>
                               </form>
                            </tr>
                     
                      {{/each}}
                      </tbody>
                </table>
                {{#if notAvilible}}
                           <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Please provide the correct airport information.</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div> 
                                <table>
                                 <tr>
                                    <th>
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/009/646/437/small_2x/confused-woman-with-question-mark-illustration-vector.jpg" alt="" width="120">

                                    </th>
                                    <th>
                                    <h2><b> Sorry, no flights are available. </b></h2>

                                    </th>
                                 </tr>
                                </table>
                        {{/if}}
              </div>
            </div>
          </div>
    </div>
    {{!-- <h1>{{from_city}}{{to_city}}</h1> --}}
    {{!-- {{#each obj.data}}
    {{!-- {{@index}}  --}}
    {{!-- <div class="w3-container w3-margin">
        <form action="/bookflight" method="post">
      <label for="">airline</label>
      <input type="text" style="width: 50%; background-color:rgb(255, 255, 255);" readonly name="airline" id="airline" value="{{airline}}"><br>
      <label for="">flight_number</label>
      <input type="text" style="width: 50%; background-color:rgb(255, 255, 255);" readonly name="flight_number" id="flight_number" value="{{flight_number}}"><br>
      <label for=""><b>price</b> {{price}}</label><br>
      <label for=""><b>origin</b> {{origin}}</label><br>
      <label for=""><b>destination</b> {{destination}}</label><br>
      <label for=""><b>origin_airport</b> {{origin_airport}}</label><br>
      <label for=""><b>destination_airport</b> {{destination_airport}}</label><br>
      <button >book</button>
      </form>
    </div><hr>
    {{/each}} --}}  
    <br>
  <div>
    <div class="container" style="margin-bottom: 200px;"><hr>
      <h3><b>Download our App on Android or iPhone and get the best bus booking deals across India </b></h3><br>
      
      <table><tr><th><img src="https://www.investopedia.com/thmb/hJrIBjjMBGfx0oa_bHAgZ9AWyn0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/qr-code-bc94057f452f4806af70fd34540f72ad.png" width="160" alt=""></th><th><h6><img src="https://thumbs.dreamstime.com/b/basic-rgb-179717724.jpg" width="200" alt=""></h6></th><th>Rating <br>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i></i><br>4.4 <br><br>
      Rating <br>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-fill"></i>
      <i class="bi bi-star-half"></i></i>
      <i class="bi bi-star"></i><br>3.4
      </th></tr></table>
      
    </div>
  </div>
  <hr>
    {{>footer}}
    {{#if bpay }}
  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
             <div class="modal-content">
                  
               
                 <div class="modal-body">
          
                     
                 <form action="/fpayment" method="post">
          
                     <div class="mb-3">

                    
                     <h4> <img src="https://toppng.com//public/uploads/preview/payment-icon-payment-method-icon-115534531553jugxnc3ex.png" height="50" alt="not found"> <b> &ensp; Payment</b></h4>
                     
                          
                         <hr>
                         <label for="cardNumber" class="form-label"><b>Card Number</b></label>
                         <input type="text"  style="background-color: white;border-color: gray;" class="form-control" id="cardNumber" aria-describedby="emailHelp" name="cardNumber" placeholder="XXXX XXXX XXXX" maxlength="12" required> 

                          
                         <table class="my-2">
                           <tr>
                              <td style="width: 30%;">
                              <label for="cardMonth" class="form-label"><b>Expiration Date</b></label>
                              <input type="number" style="background-color: white;border-color: gray;" class="form-control" id="cardMonth" aria-describedby="emailHelp" name="cardMonth" placeholder="Month" min="01" max="12" required> 
                            
                              </td>
                              <td style="width: 30%;">
                              <label for="cardYear" class="form-label" style="color:white"><b>None</b></label>
                              <input type="number" style="background-color: white;border-color: gray;" class="form-control" id="cardYear" aria-describedby="emailHelp" name="cardYear" placeholder="Year" min="1990" max="2050" required> 
                                 
                              </td>
                              
                              <td style="width: 40%;">
                              <label for="cvv" class="form-label"><b>CVV/CVC</b></label>
                              <input type="password" style="background-color: white;border-color: gray;" class="form-control" id="cvv" aria-describedby="emailHelp" name="cvv" value="" placeholder="" maxlength="4" required> 
                                 
                              </td>
                               
                           </tr>
                         </table>

                         <label for="cardHolder" class="form-label"><b>Card Holder Name</b></label>
                         <input type="text"  style="background-color: white;border-color: gray;" class="form-control" id="cardHolder" aria-describedby="emailHelp" name="cardHolder" placeholder="Enter card Holder Name" required>

                         <div>

                         </div>
                          
                         
                         
                          
         
                     </div><hr>
                     <table>
                        <tr style="width: 100%;">
                           <td style="width: 50%;"><h6><b>Total: ₹ </b> {{price}}/- </h6></td>
                           <td style="text-align:right;"><img style="width:60%;" src="https://www.citypng.com/public/uploads/small/216354159589qrojah4tydfjafob18hv9vsf5yvslekdx8swjkp3h29sozabupobysff2fuohctuvykt4isotjcbcastfbh07pcvp8poykymdj9.png" alt=""></td>
                        </tr>
                     </table>
                     
         
         
                     <button type="submit" class="btn btn-outline-success"><b><i class="bi bi-credit-card-fill"></i> Pay</b></button>

                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ><b>Close</b></button>
         
                 </form><hr>
                 </div>
         
               
                  
             </div>
         </div>
         </div>


  
  {{/if}}
    <script src="public/js/airport_station_auto_suggestion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {{#if bpay }}
 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
         
         
         
          <script>
              $(document).ready(function(){
                  $("#staticBackdrop").modal("show");
              })
          </script>
  {{/if}}
  </body>

</html>